* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h4 {
	margin: 0;
}

.main {
	background: var(--primary-color);
}
:root {
	--primary-color: rgba(28, 114, 160, 1);;
	--secondary-color: #666666;
    --text-color: #c09f28;
}

.top_header {
	background: var(--primary-color);
	height: auto;
}

.top_header .social_logo {
	margin-top: 15px;
}
.top_header .social_logo ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.top_header .social_logo ul li a{
	color: #fff;
	margin-left: 15px;
	font-size: 18px;
}
.top_header .top_header_left {
	margin-top: 15px;
}
.top_header .top_header_left .address {
	margin-right: 20px;
}
.top_header .top_header_left .address a {
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
}
.top_header .top_header_left .phone a {
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
}
.top_header .top_header_left .phone {
	margin-right: 10px;
	margin-left: 10px;
}
.top_header .top_header_left .email {
	margin-left: 20px;
}
.top_header .top_header_left .email a,i {
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
}

/*Navbar css Starts */

.navbar-nav .nav-item .nav-link {
    color: var(--secondary-color);
    font-size: 20px;
}
.navbar-nav .nav-item .nav-link:hover {
    color:  var(--text-color);
}
.navbar-nav .nav-item .nav-link:focus {
    color:  var(--text-color);
}

.carousel-item img {
    height: 80vh;
    width: 100%;
    margin-left: 25%;
}
.carousel-caption {
    position: absolute;
    top: 30%;
    left: -20%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    background-color:  var(--secondary-color); 
    position: absolute;
    top: 30%;
    left: 50%;
}

.navbar-toggler {
    background-color: var(--primary-color);
	color:  var(--text-color);
}
.navbar-toggler-icon {
    width: 5rem;
    height: 1.5rem;
    color: #fff;
    border: none;
}

.overlay {
    background: #000;
}

.section-header {
    color: var(--text-color);
    padding: 20px 0px;
}

/*------------------------------------------------------------------------*/
/*footer CSS Starts*/
/*------------------------------------------------------------------------*/

.footer	{
	padding: 50px 0px 50px 0px;
	background : var(--primary-color);
	color: #fff;
}
.footer_logo h4{
	padding-bottom: 15px;
}
.footer_links {
	padding-top: 0px;
	
}
.footer_links h4 {
	padding-bottom: 15px;
}
.footer_links ul {
	padding-left: 0;
}
.footer_links ul li {
	margin-bottom: 10px;
    list-style: none;
}
.footer_links ul li a{
    text-decoration: none;
	color: var(--text-color);;
}
.footer_contact {
	padding-top: 0px;
}
.footer_contact h4{
	padding-bottom: 15px;
}
/*------------------------------------------------------------------------*/
/*footer CSS Ends*/
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/*footer_end CSS Starts*/
/*------------------------------------------------------------------------*/
.footer_end {
	margin-top: 30px;
	padding: 15px 0px;
	/*background: #218F98;*/
	color: var(--text-color);
	font-size: 18px;
	font-weight: 600;
}
.footer h4{
	font-size: 26px;
	font-weight: 700;
}
.footer_links a {
	-webkit-transition: all linear .1s;
	-o-transition: all linear .1s;
	transition: all linear .1s;
	font-weight: 600;
	position: relative;
}
.footer_links a:after {
	content: '';
	position: absolute;
	bottom: -8%;
	left: 1px;
	height: 2px;
	width: 0%;
	background :var(--primary-color);
	opacity: 0;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}
.footer_links a:hover{
	margin-left: 10px;
}
.footer_links a:hover::after {
	opacity: 1;
	width: 33px;
	/*left: 1px;*/
}
.footer_contact p{
	font-weight: 600;
}
.footer_contact a{
	color:  var(--text-color);
    text-decoration: none;
    font-size: 24px;
}

.footer_end span {
	color: rgb(218, 120, 120);
}

/*------------------------------------------------------------------------*/
/*footer_end CSS Ends*/
/*------------------------------------------------------------------------*/
.footer h4,p {
    color:  var(--text-color);
}
.footer {
    padding: 0;
}
.golden {
    color:  var(--text-color);
}
.bg {
	background :var(--primary-color);
}
hr {
	margin-top: 0;
}
.p-10 {
	padding: 0 18rem;
	text-align: justify;
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .carousel-control-next-icon, .carousel-control-prev-icon {
        position: absolute;
        top: 40%;
        left: 10%;
    }
    .carousel-item img {
        height: auto;
        width: 100%;
    }
	.small-d  {
		font-size: 14px;
	}
	.p-10 {
		padding: 0 10rem;
	}

}

@media screen and (max-width: 992px) {
	.p-10 {
		padding: 0 3rem;
	}
  }